<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/gumby.css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
</head>
<body>
  <div class="row">
    <ul>
      <li class="dark label"><a href="/">navigation</a></li>
      <li class="primary label"><a href="{{ url_for('environments') }}">Environment</a></li>
      <li class="primary label"><a href="{{ url_for('jobsets') }}">Jobsets</a></li>
    </ul>
  </div>
  <div class="row">
  <h2 class="lead">{% block headline %}{% endblock %}</h2>
{% block body %}
{% endblock %}
  </div>
</body>
</html>
