{% extends "base.html" %}

{% block title %}Oozappa - Create Jobset{% endblock %}

{% block headline %}Create Jobset{% endblock %}

{% block body %}
<div class="row">
{% if form.errors %}
  <div>
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li class="danger alert">{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  </div>
{% endif %}
{% if error_message %}
  <div>
    <ul class="errors">
      <li class="danger alert">{{ error_message }}</li>
    </ul>
  </div>
{% endif %}
<div>
 <form action="{{ url_for('create_jobset') }}" method="POST">
    <fieldset>
      <legend>Job information</legend>
        {{ form.csrf_token }}
      <ul>
        <li class="field">{{ form.title(size=10, class_='wide text input') }}: {{ form.title.label(class_='inline') }}</li>
        <li class="field">{{ form.description(size=50, class_='wide input textarea') }} : {{ form.description.label(class_='inline') }}</li>
        <li class="field">{{ form.job_id(class_='wide select multiple') }} : {{ form.job_id.label(class_='inline') }}</li>
        <li class="field"><input type="submit" value="Go"></li>
      </ul>
    </fieldset>
  </form>
</div>
{% endblock %}