{% extends "base.html" %}

{% block title %}Oozappa - Environments{% endblock %}

{% block headline %}TOP{% endblock %}

{% block body %}
<div>
  {% for en in environment_list %}
  <div>{{ en.name }}: {{ en.execute_path }}</div>
  {% endfor %}
</div>
<div>
  <h2>add Environment</h2>
  <form action="{{ url_for('add_environment') }}" method="POST">
      {{ form.csrf_token }}
      {{ form.name.label }} {{ form.name.errors }} {{ form.name(size=10) }}
      {{ form.sort_order.label }} {{ form.sort_order.errors }} {{ form.sort_order(size=4) }}
      {{ form.execute_path.label }} {{ form.execute_path.errors }} {{ form.execute_path(size=20) }}
      <input type="submit" value="Go">
  </form>
{% endblock %}