{% extends "base.html" %}

{% block title %}Oozappa - Jobset{% endblock %}

{% block headline %}Available JobSet{% endblock %}

{% block body %}
<div>
  <table class="striped rounded">
  <thead><tr><th>Jobset title</th><th>Description</th></tr></thead>
    <tbody>
  {% for jobset in jobset_list %}
      <tr>
        <td><a href="{{ url_for('jobset', jobset_id=jobset.id) }}">{{ jobset.title }}</a></td>
        <td>{{ jobset.description }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
<div>
  <div class="medium metro rounded btn primary"><a href="{{ url_for('create_jobset') }}">Create JobSet</a></div>
{% endblock %}