{% extends "base.html" %}

{% block title %}Oozappa - Jobset : {{ jobset.title }}{% endblock %}

{% block headline %}Jobset {{ jobset.title }}{% endblock %}

{% block body %}
<div>
  <div>
    {{ jobset.description }}
  </div>
  <div>
    {% for job in jobset.jobs %}
    <div>
      <ul>
        <li>environment: {{ job.environment.name }}</li>
        <li>execute path: {{ job.environment.execute_path }}</li>
        <li>task: {{ job.tasks }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
  <div>
    <form id="fabric_jobset" method='POST' action='#'>
        <input type="hidden" name="jobset_id" id="jobset_id" value="{{ jobset.id }}"/>
        <input type="submit" value="run jobset">
  </div>
  <div>
    <div id="terminal">
    </div>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript">
        $(document).ready(function(){
          var ws;
          var connect_to = 'ws://' + document.domain + ':' + location.port + '/run_jobset'
          var connect = function() {
            ws = new WebSocket(connect_to);
            ws.onmessage = function(e) {
              var over_count = $("#terminal *").length - 100; //TODO fixme
              for(var i = 0;i < over_count;i++) {
                $("#terminal *").get(0).remove();
              }
              jQuery.each(e.data.split("\n"), function(i, v) {
                $("div#terminal").append('<div class="msg">' + v + '</div>');
              });
              $("div#terminal").scrollTop($("#terminal")[0].scrollHeight);
            };
            ws.onclose = function(e) {
              connect();
            }
          };
          connect();
          $('form#fabric_jobset').submit(function(event) {
              ws.send(JSON.stringify({jobset_id: $('#jobset_id').val()}));
              return false;
          });
        });
    </script>
{% endblock %}